
/** Google maps div layout **/
#map {
    width: 100%;
    height: 500px;
    background-color: grey;
}

/** Submit button on the right side **/
#application_submit {
    float: right;
}

/** Layout for the logo **/
#logo {
    height: 84px;
    float: right;
}

header {
    margin-bottom: 70px!important;
}