<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/base.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome-4.0.3.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">


    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <title>City of Helsinki</title>
</head>
<header>
    <img id="logo" src="/helsinki-logo-black.svg">
</header>
<body class="container">
    {{{body}}}
</body>
</html>
